# ==> Configuration for jwt
Devise.jwt do |jwt|
  jwt.secret = ENV.fetch('JWT_SECRET_KEY', Ibrain::Auth::Config.jwt_secret_key) # Rails.application.credentials.secret_key_base
  jwt.expiration_time = 3600 * 24 * 30 # 30day
end